.delivery {
    text-align: center;
    background: black;
    padding-top: 80px;
    padding-bottom: 70px;
}

.delivery__title {
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.delivery__title span {
    font-weight: 100;
}

.delivery__suptitle {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #FFFFFF;
}